#main-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Rajdhani', sans-serif;
}

#header-header {
  border: 5px solid  rgb(42, 157, 143);
  border-radius: 25px 25px 0px 0px;
  padding: 5px;
  padding-bottom: 0px;
  border-bottom: 0px;
  background-color: rgb(38, 70, 83);
  color: rgb(233, 196, 106);
  display: flex;
  align-items:flex-end;
  justify-content: space-around;
  width: 50%;
  font-family: 'Graduate', cursive;
}

#data-header {
  padding: 10px;
  background-color: rgb(42, 157, 143);
  width: 50%;
  border-bottom: 0px;
  border-top: 0px;
}

#contact-header {
  margin-top: 0px;
  border-radius: 0px 0px 25px 25px;
  padding: 10px;
  background-color: rgb(42, 157, 143);
  width: 50%;
  border-top: 0px;
}

#trainer-image {
  border: 3px solid rgb(38, 70, 83);
  width: 200px;
  position: absolute;
  margin-left: 180px;
  margin-top: 120px;
  border-radius: 10px;
}

#lines-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.values {
  font-weight: 100;
}

h1 {
  font-weight: 100;
  margin: 2px;
}

h3 {
   margin: 5px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}